<div>
    {{#jugador}}
    <h1>Bienvenido {{name}}</h1>
    {{/jugador}}
</div>
<div>
    <div><p>Tu puntaje: </p></div>
    <div>
        <button>Nuevo Juego</button>
        <button>Ranking</button>
    </div>
</div>